{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1">

<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css">
<link href='https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css' rel='stylesheet' type='text/css'>
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
<!--[if IE]>
<style type="text/css">.pie {
    behavior: url(PIE.htc);
}</style>
<![endif]-->
<!--[if lt IE 9]>
<script src="{% static 'js/respond-1.1.0.min.js' %}"></script>
<script src="{% static 'js/html5shiv.js' %}"></script>
<script src="{% static 'js/html5element.js' %}"></script>
<![endif]-->